// breakpoints 
$desktop: 1920px;
$laptop: 1440px;
$tablet-xl: 1280px;
$tablet: 1180px;
$tablet-m: 768px;
$mobile-xl: 640px;
$mobule: 590px;
$mobile-sm: 490px;


// fonts
$def-font: 'PTSans';
$alt-font: 'BebasNeue';

:root {
    // colors
    --Black-blue: #42567A;
    --Black-blue-o01: rgba(66, 86, 122, 0.1);
    --Black-blue-o02: rgba(66, 86, 122, 0.2);
    --Black-blue-o50: rgba(66, 86, 122, 0.5);
    --light: #fff;
    --Iris-100: #5D5FEF;
    --Fuschia-100: #EF5DA8;

    // transition
    --duration: 0.175s;
    --ease: ease-in;
}